mixin formfor(field, label, fieldValue, inputType, placeholder)
    if(typeof validationErrors != 'undefined' && typeof validationErrors[field] != 'undefined')
        - var errors = true
    .form-group(class=errors ? 'has-danger' : '')
        label(for=field) #{label}
        input(id=field type=inputType name=field placeholder=placeholder value=fieldValue class=errors ? 'is-invalid' : '').form-control
        if(errors)
            each error in validationErrors[field]
                .invalid-feedback 
                    =error