doctype html
html(lang="en")
	head
		block head
			meta(charset="utf-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name="viewport",content="width=device-width, initial-scale=1")
			meta(name="description",content="")
			meta(name="author",content="")
			title= title
			script(src="https://www.gstatic.com/firebasejs/4.13.0/firebase-app.js")
			script(src="https://www.gstatic.com/firebasejs/4.13.0/firebase-messaging.js")
			block styles
				link(rel="stylesheet", href='/bootstrap/dist/css/bootstrap.css')
				link(rel="stylesheet", href='/css/main.css')
				link(rel="manifest", href='/manifest.json')
			block headscripts
				script(src='/jquery/dist/jquery.min.js')
				script(src='/bootstrap/dist/js/bootstrap.min.js')

	body
		block body
			div(class='body')
				nav
					ul
						li
							a(class="navbar-link", data-toggle="modal" data-target="#newSessionModal") New Session
						li
							a(class="navbar-link", data-toggle="modal" data-target="#settingsModal") Settings
				div(class="container")
					div(class='row')
						div(class='col justify-content-center')
							h2#currBbqTemp= "Smoker: " + currBbqTemp + "°F"
							h2#currMeatTemp= "Meat: " + currMeatTemp + "°F"
					br
					div(class='btn-group' data-toggle="buttons")
						label(class="btn btn-lg btn-warning disabled" style="pointer-events:none") Blower
						label(class="btn btn-lg btn-warning")
							input#BlowerOff(value="off", type='radio', name="setBlowerState", checked=(blowerState=="off"))
							| Off
						label(class="btn btn-lg btn-warning")
							input#BlowerAuto(value="auto", type='radio', name="setBlowerState", checked=(blowerState=="auto"))
							| Auto
						label(class="btn btn-lg btn-warning")
							input#BlowerOn(value="on", type='radio', name="setBlowerState", checked=(blowerState=="on"))
							| On
					br
					br
					div(class='btn-group' data-toggle="buttons")
						label(class="btn btn-lg btn-warning disabled" style="pointer-events:none") Logger
						label(class="btn btn-lg btn-warning")
							input#BlowerOff(value="off", type='radio', name="setLogState", checked=(logState=="off"))
							| Off
						label(class="btn btn-lg btn-warning")
							input#BlowerOn(value="on", type='radio', name="setLogState", checked=(logState=="on"))
							| On
					br
					br
					canvas#myChart(width=400, height=400)
		div(class="modal fade", id="newSessionModal", tabindex="-1", role="dialog" labelledby="newSessionModalLabel" aria-hidden="true")
			div(class="modal-dialog modal-dialog-centered", role="document")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
						h4(class="modal-title", id="newSessionModalLabel") New Session
					div(class="modal-body")
						div(class="row")
						div(class='input-group text-center')
							span(class='input-group-addon') Name
							input#sessionName(value=sessionName, class="form-control text-center", aria-describedby="btnGroupAddon")
					div(class="modal-footer")
						button(type="button", class="btn btn-default", data-dismiss="modal") Close
						
		div(class="modal fade", id="settingsModal", tabindex="-1", role="dialog" labelledby="settingsModalLabel" aria-hidden="true")
			div(class="modal-dialog modal-dialog-centered", role="document")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
						h4(class="modal-title", id="settingsModalLabel") Settings
					div(class="modal-body")
						div(class='input-group text-center')
							span(class='input-group-addon') Target Temp
							input#targetTemp(value=targetTemp, class="form-control text-center", aria-describedby="btnGroupAddon")
						br
						div(class='input-group text-center')
							span(class='input-group-addon') Alert high
							input#alertHigh(value=alertHigh, class="form-control text-center", aria-describedby="btnGroupAddon")
						br
						div(class='input-group text-center')
							span(class='input-group-addon') Alert Low
							input#alertLow(value=alertLow, class="form-control text-center", aria-describedby="btnGroupAddon")
						br
						div(class='input-group text-center')
							span(class='input-group-addon') Alert Meat
							input#alertMeat(value=alertMeat, class="form-control text-center", aria-describedby="btnGroupAddon")
					div(class="modal-footer")
						button(type="button", class="btn btn-default", data-dismiss="modal") Close
	
	block scripts
		script(src="/socket.io/socket.io.js")
		//script(src='/js/bootstrap3-typeahead.min.js')
		script(src='/chart.js/dist/Chart.min.js')
		script(src="/js/dashboard.js")
		script(src="/js/fcmNotifications.js")
	
